.table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    margin: 40px auto;
}
 
.mat-header-cell {
    text-align: left;
    justify-content: left;
    /* padding-left: 20px; */
}

.action-header-cell {
    text-align: center;
    justify-content: center;
    /* padding-left: 20px; */
}

.mat-cell {
    text-align: left;
    justify-content: left;
    /* padding-left: 20px; */
}

.action-mat-cell {
    text-align: center;
    justify-content: center;
    /* padding-left: 20px; */
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
    border-color: white;
  }

  .formFieldWidth480 .mat-form-field-infix {
    width: 480px;
 }

 ::ng-deep .mat-form-field-infix {
    width: auto !important;
}

.example-second-footer-row td {
    color: #900000;
  }


  
