<div class="search-div" >
  <mat-form-field class="search-form-field" floatLabel="never" appearance="fill" color="primary" >
    <mat-label>Search Country</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Sri Lanka" #input >
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource"  matSort>

    <ng-container matColumnDef="country_name">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Country Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline"   >
          <input type="text" matInput readonly="{{element.readlock}}" value={{element.country_name}} [(ngModel)]="element.country_name" >
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Capital</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <input type="text" matInput readonly="{{element.readlock}}" value={{element.capital}} [(ngModel)]="element.capital">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="population">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Population</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline">
          <input type="number" matInput readonly="{{element.readlock}}" value={{element.population}}  [(ngModel)]="element.population">
        </mat-form-field>
      </mat-cell>
    </ng-container>
    
    
    <!-- <ng-container matColumnDef="edit" >
      <mat-header-cell *matHeaderCellDef  > Edit </mat-header-cell>
      <mat-cell *matCellDef="let element"  >
        <button mat-icon-button color="warn" (click)="redirectToEdit(element.id)" >
          <mat-icon >menu</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef > Update </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="success" (click)="redirectToUpdate(element.id)">
          <mat-icon class="mat-18">system_update</mat-icon>
        </button>
      </mat-cell>
    </ng-container> -->
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-header-cell"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="action-mat-cell">
 
      <button mat-raised-button color="primary"  (click)="redirectToEdit(element.id)">Edit</button>
      <button mat-raised-button color="secondary" (click)="redirectToUpdate(element.id)">Update</button>
      <button mat-raised-button color="warn" (click)="redirectToDelete(element.id)">Delete</button>


      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="createNew">
      <mat-footer-cell *matFooterCellDef colspan="6">
        <button mat-raised-button color="primary" (click)="openDialog()">Add New Country</button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['createNew']" ></mat-footer-row>
  </mat-table>



  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>



</div>
