<div  class="search-div">

<h1 mat-dialog-title>Enter Country Data</h1>
<mat-divider></mat-divider>

<div mat-dialog-content style="padding: 20px;" >

    <form class="example-form">

     <li>
        <mat-form-field style="width:70%; padding: 20px;">
            <mat-label>Country Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.country_name" [formControl]="formControl" [errorStateMatcher]="matcher">
            <mat-error *ngIf="formControl.hasError('required')">
                Country name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </li>
    
    <li>
        <mat-form-field style="width:70%; padding: 20px;">
            <mat-label>Country Capital</mat-label>
            <input matInput type="text"  [(ngModel)]="data.capital" name="capital">
        </mat-form-field>
    </li>

    <li>
        <mat-form-field style="width:70%; padding: 20px;">
            <mat-label>Country Population</mat-label>
            <input matInput type="number" [(ngModel)]="data.population" name="population">
        </mat-form-field>
    </li>

  </form>


</div>
<mat-dialog-actions align="center" >
        <button mat-button mat-dialog-close="false" style="padding: 20px 20px 20px 20px;" >Cancel</button>
        <button mat-button mat-dialog-close="true"  [disabled]="formControl.hasError('required') "   style="padding: 20px 20px 20px 20px;"  >Create</button>
</mat-dialog-actions>


</div>
